*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Noto Sans JP', sans-serif;
}

img{
    width: 100%;
    display: block;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --violet: #9792E4;
    --grey: #F5F5F5;
    --yellow: #FDC15F;
}
/**container**/
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.medium-container{
    max-width: 896px;
    margin: 0 auto;
    padding: 100px 11px 50px;
}
/**button**/
.button{
    border-radius: 50px;
}

/**row**/
.row{
    display: flex;
    flex-wrap: wrap;
}

.jc{
    justify-content: space-between;
    align-items: center;
}

/***colonne***/
.col-33{
    flex-basis: calc(100% /3);
}

.col-40{
    flex-basis: 40%;
}

.col-66{
    flex-basis: calc(100% /3 *2);
}

/***********header***********/

.main-header{
    background-color: var(--blue);
    padding: 19px 0;
    color: white;
}

.nav-item a{
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.nav-item.button--white{
    background-color: white;
    color: black;
}

.hamburger{
    display: none;
}
/***************************/

/************Mediaquery ipad************/

@media  screen and (max-width: 991px) {
    .hamburger{
        display: block;
        font-size: 1.5rem;
    }    

    .nav-header{
        display: none;
    }

    .main-header{
        padding: 19px 15px;
    }

    /***section demo-application ipad***/
    .card.phone{
        flex-wrap: wrap;
    }

    /**section what we do**/
    .medium-container .row.planning{
        row-gap: 18px;
    }

    .col-40{
        flex-basis: 100%;
    }

}
/***************************/


/***section demo-application****/
.demo-application>.container{
    padding: 40px 0 100px;
}

.demo-application [class^='col-'] {
    padding: 11px;
}

/***Mediaquery mobile******/

@media  screen and (max-width: 575px) {
    .demo-application [class^='col-'] {
        flex-basis: 100%;
    }    

    .demo-application>.container{
        padding: 40px 0 80px;
    }
}
/***************************/

/**card**/
.lblue{
    background-color: var(--lightblue);
    border-radius: 20px;
    color: #5A6E7F;
}

.card.phone{
    display: flex;
    gap: 70px;
    padding: 38px 18px 0;
}

.card-text.column{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-title{
    color: var(--blue);
}

.card-text .button--blue{
    background-color: var(--blue);
    color: white;
    padding: 10px 45px;
    max-width: max-content;
}

/**card icone**/
.card.icone{
    text-align: center;
    padding: 24px 22px; 
}

.card.icone.short.lblue{
    min-height: 100%;
}

.card-text i.icone{
    font-size: 5rem;
    color: var(--blue);
}
/*******************************/

/**********section what-we-do***********/

.violet{
    background-color: var(--violet);
}

.medium-container>.row{
    justify-content: space-between;
    align-items: flex-end;
}

/**card-strategy**/
.card-plan.strategy{
    color: white;
    line-height: 25px;
}

.card-plan.strategy .col_img{
    margin-bottom: 100px;
}

.card-plan.strategy h2{
    line-height: 1.7em;
    font-size: 25px;
}

/**card-white**/
.white{
    background-color: white;
}

.card-plan.white{
    text-align: center;
    border-radius: 40px;
    padding: 30px 35px;
}

.card-plan.white img{
    width: 70%;
    margin: 0 auto;
}

.card-plan.white h3.title{
    padding-top: 30px;
    line-height: 1.7em;
}

.card-plan.white p{
    font-style: italic;
    line-height: 30px;
    font-size: 15px;
}

.card-plan.white i.icone-plan{
    background-color: var(--violet);
    border-radius: 100%;
    font-size: 20px;
    padding: 7px 10px;
}

/************Mediaquery ipad************/

@media  screen and (max-width: 991px) {
      /***section demo-application ipad***/
    .card.phone{
        flex-wrap: wrap;
    }

    /**section what we do**/
    .medium-container .row.planning{
        row-gap: 18px;
    }

    .col-40{
        flex-basis: 100%;
    }
}
/***************************/

/********Testimonial********/

.testimonial .row.our-partners{
    flex-direction: column;
    row-gap: 32px;
}

.row.our-partners .col{
    flex-grow: 1;
}

.presentation-testimonial{
    padding: 0 32px;
    text-align: center;
}

.presentation-testimonial h6{
    font-weight: normal;
}

.presentation-testimonial h1.title{
    padding: 43px 0;
    font-size: 35px;
    color: var(--violet);
}

.presentation-testimonial .presentation-text{
    font-size: 19px;
    font-weight: lighter;
}

/**profile testimonial**/

.col.testimonial-profile{
    display: flex;
    align-items: center;
    column-gap: 36px;
    background-color: var(--violet);
    padding: 35px 15px 45px;
    border-radius: 40px;
    color: white;
}

.col.testimonial-profile>figure{
    flex-basis: 20%;
}

.col.testimonial-profile img{
    border-radius: 999px;
}

.col.testimonial-profile>.testimonial-text{
    flex-basis: 80%;
}

.testimonial-text p{
    font-size: 16px;
}

.testimonial-text h4{
    margin-top: 30px;
}