*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Noto Sans JP', sans-serif;
}

img{
    width: 100%;
    display: block;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --violet: #9792E4;
    --grey: #F5F5F5;
    --yellow: #FDC15F;
    --dark:#333333;
}
/**container**/
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.medium-container{
    max-width: 896px;
    margin: 0 auto;
    padding: 100px 11px 50px;
}

.little-container{
    max-width: 576px;
    margin: 0 auto;
}
/**button**/
.button{
    border-radius: 50px;
}

/**row**/
.row{
    display: flex;
    flex-wrap: wrap;
}

.jc{
    justify-content: space-between;
    align-items: center;
}

/***colonne***/
.col-20{
    flex-basis: calc(100% /5);
}
.col-33{
    flex-basis: calc(100% /3);
}

.col-40{
    flex-basis: 40%;
}

.col-60{
    flex-basis: calc(100% /5 *3);
}

.col-66{
    flex-basis: calc(100% /3 *2);
}

/***********header***********/

.main-header{
    background-color: var(--blue);
    padding: 19px 0;
    color: white;
}

.nav-item a{
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.nav-item.button--white{
    background-color: white;
    color: black;
}

.hamburger{
    display: none;
}
/***************************/

/************Mediaquery ipad************/

@media  screen and (max-width: 991px) {
    .hamburger{
        display: block;
        font-size: 1.5rem;
    }    

    .nav-header{
        display: none;
    }

    .main-header{
        padding: 19px 15px;
    }

    /***section demo-application ipad***/
    .card.phone{
        flex-wrap: wrap;
    }

    /**section what we do**/
    .medium-container .row.planning{
        row-gap: 18px;
    }

    .col-40{
        flex-basis: 100%;
    }

}
/***************************/


/***section demo-application****/
.demo-application>.container{
    padding: 40px 0 100px;
}

.demo-application [class^='col-'] {
    padding: 11px;
}

/***Mediaquery mobile******/

@media  screen and (max-width: 575px) {
    .demo-application [class^='col-'] {
        flex-basis: 100%;
    }    

    .demo-application>.container{
        padding: 40px 0 80px;
    }
}
/***************************/

/**card**/
.lblue{
    background-color: var(--lightblue);
    border-radius: 20px;
    color: #5A6E7F;
}

.card.phone{
    display: flex;
    gap: 70px;
    padding: 38px 18px 0;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-title{
    color: var(--blue);
}

.card-text .button--blue{
    background-color: var(--blue);
    color: white;
    padding: 10px 45px;
    max-width: max-content;
}

/**card icone**/
.card.icone{
    text-align: center;
    padding: 24px 22px; 
}

.card.icone.short.lblue{
    min-height: 100%;
}

.card-text i.icone{
    font-size: 5rem;
    color: var(--blue);
}
/*******************************/

/**********section what-we-do***********/

.violet{
    background-color: var(--violet);
}

.medium-container>.row{
    justify-content: space-between;
    align-items: flex-end;
}

/**card-strategy**/
.card-plan.strategy{
    color: white;
    line-height: 25px;
}

.card-plan.strategy .col_img{
    margin-bottom: 100px;
}

.card-plan.strategy h2{
    line-height: 1.7em;
    font-size: 25px;
}

/**card-white**/
.white{
    background-color: white;
}

.card-plan.white{
    text-align: center;
    border-radius: 40px;
    padding: 30px 35px;
}

.card-plan.white img{
    width: 70%;
    margin: 0 auto;
}

.card-plan.white h3.title{
    padding-top: 30px;
    line-height: 1.7em;
}

.card-plan.white p{
    font-style: italic;
    line-height: 30px;
    font-size: 15px;
}

.card-plan.white i.icone-plan{
    background-color: var(--violet);
    border-radius: 100%;
    font-size: 20px;
    padding: 7px 10px;
}

/************Mediaquery ipad************/

@media  screen and (max-width: 991px) {
      /***section demo-application ipad***/
    .card.phone{
        flex-wrap: wrap;
    }

    /**section what we do**/
    .medium-container .row.planning{
        row-gap: 18px;
    }

    .col-40{
        flex-basis: 100%;
    }
}
/***************************/

/********Testimonial********/

.testimonial .row.our-partners{
    flex-direction: column;
    row-gap: 32px;
    padding: 68px 0 110px;
}

.row.our-partners .col{
    flex-grow: 1;
}

.presentation-testimonial{
    padding: 0 32px;
    text-align: center;
}

.presentation-testimonial h6{
    font-weight: normal;
}

.presentation-testimonial h1.title{
    padding: 43px 0;
    font-size: 35px;
    color: var(--violet);
}

.presentation-testimonial .presentation-text{
    font-size: 19px;
    font-weight: lighter;
}

/**profile testimonial**/

.col.testimonial-profile{
    display: flex;
    align-items: center;
    column-gap: 36px;
    background-color: var(--violet);
    padding: 35px 15px 45px;
    border-radius: 40px;
    color: white;
}

.col.testimonial-profile>figure{
    flex-basis: 20%;
}

.col.testimonial-profile img{
    border-radius: 999px;
}

.col.testimonial-profile>.testimonial-text{
    width: 80%;
}

.testimonial-text p{
    font-size: 16px;
}

.testimonial-text h4{
    margin-top: 30px;
}

/************Mediaquery ipad************/
@media  screen and (max-width: 991px) {
    .col.testimonial-profile>figure{
        flex-basis: 30%;
    }
}

/***Mediaquery mobile******/
@media  screen and (max-width: 575px) {
    .col.testimonial-profile {
        flex-direction: column;
        row-gap: 10px;
        text-align: center;
    }    

    .col.testimonial-profile img{
        width: 50%;
        margin: auto;
    }
}
/******** fine Testimonial********/

/************Benefit***********/
.row.benefit{
    row-gap: 32px;
    padding: 63px 0;
}

.row.benefit .col-33{
    padding: 0 16px;
}

.row.benefit .col__title{
    flex-basis: 100%;
    margin-bottom: 33px;
}

.row.benefit .col__title>h3{
    text-align: center;
    color: white;
    font-size: 30px;
}

.card--benefit{
    background-color: white;
    padding: 35px 30px;
    border-radius: 16px;
}

.bold{
    font-weight: bold;
    color: var(--violet);
}

.card--benefit .n-benefit {
    font-size: 50px;
}

.card--benefit .title-benefit {
    font-size: 21px;
}

.card--benefit .descrition {
    font-size: 14px;
    line-height: 28px;
    color: #818181;
}

.card--benefit .more {        
    background-color: var(--violet);
    color: white;      
    border-radius: 15px;        
    padding: 5px 45px;
    max-width: max-content;
    font-weight: bold;
}
/***********Fine Benefit***********/

/***********Mediaquery Benefit***********/
@media  screen and (max-width: 991px) {
    .row.benefit{
        row-gap: 16px;
        padding: 30px 0;
    }
    
    .row.benefit .col-33{
        flex-basis: 50%;
        padding: 0 8px;
    }    
}

@media  screen and (max-width:575px) {
    .row.benefit{
        row-gap: 10px;
        padding: 23px 0;
    }
    
    .row.benefit .col-33{
        flex-basis: 100%;
        padding: 0 11px;
    }    
}   
/*******Fine Mediaquery Benefit*******/


/**********About Us***********/
.row.about-us{
    justify-content: space-around;
    padding: 95px 0 156px;
}

/***text***/
.about-us-text h1{
    font-size: 50px;
    color: var(--violet);
}

.about-us-text p.text-description{
    padding-top: 58px;
    line-height: 30px;
}

/***tutorcolumn***/
.tutor.column{
    color: var(--violet);
}

.tutor.column figure{
    position: relative;
}

.tutor.column .tutor__img{
    border-radius: 100%;
}

.tutor.column i.open-cit{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 4.5rem;
}

.tutor.column .button-violet{
    background-color: var(--violet);
    color: white;
    border-radius: 15px;
    padding: 5px 15px;
    max-width: max-content;
}

.button-violet>i.social{
    margin-right: 10px;
}
/**********fine About Us***********/

/***********Mediaquery About Us***********/
@media  screen and (max-width: 991px) {
    .row.about-us{
        padding: 50px 0 80px;
    }  
    .row.about-us .col-60{
        flex-basis: 50%;
    } 
    
    .about-us-text h1{
        font-size: 60px;
    }
    .about-us-text p.text-description1{
        line-height: 33px;
        font-size: 18px;
        padding-top: 30px;
    }

    .row.about-us .col-20{
        flex-basis: 30%;
    } 
    
    .tutor.column{
        gap:10px;
    }
    
    .tutor.column h3{
        font-size: 23px;
    }
}

@media  screen and (max-width:575px) {
    .row.about-us{
        gap:25px;
        padding: 35px 0 30px;
    }
      
    .row.about-us [class^='col-']{
        flex-basis: 100%;
    }
    
    .about-us-text h1{
        font-size: 70px;
    }
    .about-us-text p.text-description1{
        padding-top: 20px;
        line-height: 38px;
        font-size: 17px;
    }

    .tutor__img{
        width: 50%;
    }

    .tutor.column i.open-cit{
        right: 50%;
    }

    .tutor.column h3{
        font-size: 27px;
    }
}   
/*******Fine Mediaquery About Us*******/

/*************Get Started**************/
.little-container>.row{
    padding: 65px 0;
}

.try-free-text{
    text-align: center;
    color: white;
}

.col.try-free p.started{
    color: #D5D4F4;
    font-size: 14px;
}

.col.try-free p.up-title{
    font-size: 44px;
    font-weight: bold;
}

.col.try-free h1{
    font-size: 70px;
    color: var(--yellow);
}

.col.try-free p.beta-explain{
    line-height: 35px;
    font-size: 16px;
    width: 80%;
}

.col.try-free a.button--white{
    background-color: white;
    color: var(--violet);
    padding: 0px 80px;
    border-radius: 45px;
    line-height: 56px;
    font-size: 15px;
    font-weight: bold;
}

.col.try-free ul.copyright{
  display: flex;
  gap: 28px;
  align-items: center;
}

ul.copyright .cr-item2{
    list-style: initial;
} 

ul.copyright .cr-item3{
    list-style: initial;
    text-decoration: underline;
} 

@media  screen and (max-width: 991px) {    
    .little-container>.row{
        padding: 30px 0;
    } 

    .col.try-free p.up-title{
        font-size: 44px;
    }

    .col.try-free p.beta-explain{
        line-height: 32px;
    }   
}

@media  screen and (max-width: 575px) {
    .little-container>.row{
        padding: 20px 0;
    }

    .col.try-free p.up-title{
        font-size: 41px;
    }    
}
/**********Fine Get Started************/

/***************Footer****************/
.dark{
    background-color: var(--dark);
    color:white;
}

.column.text-footer.jc{
    gap: 58px;
    text-align: center;
    padding: 40px 0;
}

.column.text-footer.jc p{
    width: 75%;
    font-size: 16px;
}

.footer-license a.active-link{
    text-decoration: underline;
    color: var(--violet);
}

@media  screen and (max-width: 575px) {
    .column.text-footer.jc{
        gap: 30px;
        padding: 30px 0;
    }
}

/***********Fine Footer**************/

